body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}
.col {
    flex: 1;
    height: 100%;
}
.col1 {
    background-color: #4f55fe;
}
.col2 {
    background-color: #ffdc24;
}
.col3 {
    background-color: #ff0000;
}