<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>EICF</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'home.css' )}}"> 

  <script src="https://kit.fontawesome.com/f5253fe975.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/2062bda610.js" crossorigin="anonymous"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Gloock&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Gloock&family=Merriweather:wght@700&display=swap" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
  <section id="title">
    <div class="container-fluid">
      <nav class="navbar  navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link"  href="{{ url_for('universityFinder') }}">University Finder</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('programFinder') }}">Program Finder</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('careerFinder') }}">Career Finder</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="row">
        <div class="col-lg-6">
          <h1>Pick the best option for your future.</h1>

          <a href="{{ url_for('login') }}"><button type="button" class="btn btn-dark btn-lg Download-Button"><i class="fa-solid fa-right-to-bracket"></i> Login</button></a> 
          <a href="{{ url_for('signup') }}"><button  type="button" class="btn btn-outline-light btn-lg Download-Button"><i class="fa-solid fa-user-plus"></i> Sign up</button></a> 
        </div>
      </div>
  </section>

  <section id="features">
    <div class="row">
      <div class="col-lg-4 feature-box">
        <i class="fa-solid fa-database fa-4x font-awesome-f"></i>
        <h3 class="h3f">Updated Database</h3>
        <p class="pf">Scorch through multiple databases and acsess thousands of programs and universities.</p>
      </div>

      <div class="col-lg-4 feature-box">
        <i class="fas fa-bullseye fa-4x font-awesome-f"></i>
        <h3 class="h3f">Recommendation System</h3>
        <p class="pf">Our recommendation system suggests the best outcome depending on your input.</p>
      </div>

      <div class="col-lg-4 feature-box">
        <i class="fa-solid fa-wifi fa-4x font-awesome-f"></i>
        <h3 class="h3f">Robust Algorithms</h3>
        <p class="pf">Choose whats best for you with out delegative algorithms.</p>
      </div>
    </div>

  </section>

  <section id="testimonials">

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h2 class="testimonials-h2">Find the most ideal Univeristy for you.</h2>
          <img class="testimonials-img" src="{{ url_for('static', filename='images/iit.png') }}" alt="iit-logo">
          <em>IIT, Sri lanka</em>
        </div>
        <div class="carousel-item">
          <h2 class="testimonials-h2">Find the most suitable educational program for you.</h2>
          <img class="testimonials-img2" src="{{ url_for('static', filename='images/cam.png') }}" alt="cambridge-logo">
          <em>cambridge, UN</em>
        </div>

        <div class="carousel-item">
          <h2 class="testimonials-h2">Choose the best career pathway for you</h2>
          <img class="testimonials-img" src="{{ url_for('static', filename='images/career.jpg') }}" alt="software-logo">
          <em>Software Engineer, Ethical hacker</em>
        </div>

      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>

  <section id="products">

    <h2 class="products-h2">A Plan for Every Student's Needs</h2>
    <p class="product-p">Simple and Efficient surveys backed up with multiple algorithms to recommend whats best for you.</p>

    <div class="row">

      <div class=" product-col col-lg-4 col-md-6">
        <div class="card" >
          <div class="card-header">
            <h3 class="product-sub">University Finder</h3>
          </div>
          <div class="card-body">
            <h2 class="">A University Recommendation System </h2>
            <p class="product-p">Upto 70 universities to choose from island wide</p>
            <p class="product-p">access universities based on numerous filters and preferences</p>
            <p class="product-p">simple 10 minute survey</p> <br>
            <a href="{{ url_for('universityFinder') }}"><button  class="btn btn-outline-dark btn-lg btn-block university" type="button">Take Survey</button></a> 
          </div>
        </div>
      </div>

      <div class=" product-col col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3 class="product-sub">Program Finder</h3>
          </div>
          <div class="card-body">
            <h2 class="">A Educational Program Recommendation System</h2>
            <p class="product-p">Upto a thousand programs and faculties to choose from</p>
            <p class="product-p">Filter numerous programs based on multiple preferences</p>
            <p class="product-p">Simple 15 - 20 minute survey</p>
            <a href="{{ url_for('programFinder') }}"><button  class="btn btn-outline-dark btn-lg btn-block program" type="button">Take Survey</button></a>
            
          </div>
        </div>
      </div>

      <div class=" product-col col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3 class="product-sub">Career Finder</h3>
          </div>
          <div class="card-body">
            <h2 class="">A career pathway recommendation System</h2>
            <p class="product-p">Upto 250 career pathways and professions to choose from</p>
            <p class="product-p">Filter between countless career pathways to choose from</p>
            <p class="product-p">Simple 15 - 20 minute survey</p>
            <a href="{{ url_for('careerFinder') }}"><button class="btn btn-outline-dark btn-lg btn-block career" type="button">Take Survey</button></a>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- Testimonials -->


  <footer id="footer">
    <i class="social-icon fab fa-facebook f"></i>
    <i class="social-icon fab fa-twitter f"></i>
    <i class="social-icon fab fa-instagram f"></i>
    <i class="social-icon fa fa-envelope f"></i>
    <p>© Copyright EICF</p>

  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="JavaScript/index.js"></script>
</body>

</html>
