<!DOCTYPE html>
<html>
<head>
	<title>Three Divs Covering Entire Page</title>
	<link rel="stylesheet" href="{{ url_for('static', filename = 'OptionPage.css' )}}">
</head>
<body>
	<div class="container">
		<div class="col col1">
			
			
			<img src="{{ url_for('static', filename='images/Building.png') }}" style="height: 150px; margin: 160px 0 35px 25%;">
			<p style="font-size: 30px; margin-left: 13%; font-weight: 900;">WANT TO FIND THE 
				BEST UNIVERSITY 
				FOR YOU?</p>
			<a href="{{ url_for('universityFinder') }}"><img src="{{ url_for('static', filename='images/arrow.png') }}"  style="height: 70px;  margin: 30px 0 0 40%;"></a> 
			
		</div>

		<div class="col col2">
			
			<img src="{{ url_for('static', filename='images/Suitcase.png') }}" style="height: 150px; margin: 160px 0 35px 33%;">
			<p style="font-size: 30px; margin-left: 13%; font-weight: 900;"> WANT TO FIND THE 
				BEST CAREER FOR 
				YOU?</p>
			<a href="{{ url_for('careerFinder') }}"><img src= "{{ url_for('static', filename='images/arrow.png') }}" style="height: 70px;  margin: 30px 0 0 40%;"></a> 
			
		</div>
		<div class="col col3">
			
			<img src="{{ url_for('static', filename='images/graduationPic.png') }}" style="height: 150px; margin: 160px 0 35px 33%;">
			<p style="font-size: 30px; margin-left: 13%; font-weight: 900;"> WANT TO FIND THE 
				BEST EDUCATIONAL 
				LEVEL FOR YOU?
				</p>
			<a href="{{ url_for('programFinder') }}"><img src="{{ url_for('static', filename='images/arrow.png') }}"  style="height: 70px;  margin: 5px 0 0 40%;"></a> 
			
		</div>
	</div>
</body>
</html>
