<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'SignUp.css' )}}">
</head>
<body>
    <div class="signupFrm">
        <form class="form" method="POST">
          <h1 class="title">SIGN UP</h1>
          <h2 class="title2">Already have a account ? <a href="{{ url_for('login') }}" style="text-decoration: none; color: blue;">Log in</a></h2>

          <div class="inputContainer">
            <input type="email" class="input" name="email">
            <label class="label">Email</label>
          </div>
    
          <div class="inputContainer">
            <input type="text" class="input" name="name">
            <label class="label">Username</label>
          </div>
    
          <div class="inputContainer">
            <input type="password" class="input" name="password">
            <label class="label">Password</label>
          </div>
    
          <div class="inputContainer">
            <input type="password" class="input" placeholder="a">
            <label class="label">Confirm Password</label>
          </div>
    
          <input type="submit" class="submitBtn" value="SIGN UP">
        </form>
      </div>
</body>
</html>